@import "~/src/scss/index.scss";

.container {
  .row {
    .col {
      > h2 {
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        color: $text-light;
        margin: 50px 0 30px 0;
      }
    }
  }
  .row{
    .col{
      color: $text-light;
    }
  }
}
