@import "~/src/scss/index.scss";

.footer-info{
    width: 100%;
    color: $text-light;
    display: flex;
    justify-content: space-between;
    h1{
        opacity: 0.4;
       font-size: 100%;
    }

  

}