@import "~/src/scss/index.scss";

.client-layout {
  background-color: $background-dark-web;
  min-height: 100vh;

  &__footer {
    margin-top: 50px;
    padding: 20px 0 10px 0;
    border-top: 3px solid $primary;

    > .container {
      display: flex !important;
      
      &:last-of-type {
        color: $text-light !important;
        justify-content: space-between !important;
        margin-top: 30px !important;
        font-size: 12px !important;
        opacity: 0.4 !important;
      }
    }
  }
}
